.navbar .nav-link {
	color: white;
	transition: color 0.3s ease-in-out;
}

	.navbar .nav-link.active {
		color: red !important;
		font-weight: bold;
	}

.small-toggler {
    padding: 5px 8px !important;
    font-size: 16px !important;
}

.small-menu .nav-link {
    font-size: 14px;
    padding: 8px;
}


@media (max-width: 768px) {
    .custom-navbar {
        padding: 5px;
    }
    .small-toggler {
        font-size: 14px !important;
        padding: 4px 6px !important;
    }
    .small-menu .nav-link {
        font-size: 13px;
        padding: 6px;
    }
}
