@media (max-width: 768px) {
    .list-unstyled li > div > div {
        width: 60px !important;
        height: 45px !important;
    }
}

@media (max-width: 576px) {
    .list-unstyled li > div > div {
        width: 50px !important;
        height: 38px !important;
        marginLeft: '8px';
    }
}
